body{
    background-color: white;
}
.numbers btn{
    display: flex;
    flex-direction:row;
    border-radius: 11px;
}
.container {
    background-color: grey;
    border-radius: 7px;
    text-align: center;
}
.wrapper button{
    background-color:black;
    color: white;
    border-radius: 20px;
}
.submit button{
    background-color: yellow;
    border-radius: 7px;
    padding-bottom: 5px;
}