body{
    background-color: white;
    width: 40vw;
    
}
.numbers btn{
    display: flex;
    flex-direction:row;
    border-radius: 11px;
}
.container {
    background-color: grey;
    border-radius: 7px;
    text-align: center;
}
.wrapper button{
    background-color:black;
    color: white;
    border-radius: 20px;
}
.submit button{
    background-color: yellow;
    border-radius: 7px;
    padding-bottom: 5px;
}
.result{
    text-align:center ;
    background-color: grey;
    padding-top: 40px;
    margin:5px;
}
.result button{
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.39);
    color: orangered;
    
}
.result{
    border-radius: 7px;
}